.tooltip-bg {
  background-image: url('/src/public/frame_gold.png');
  background-size: cover;
  background-color: black;
  background-position: center;
  width: 190px;
  height: 190px;
  text-align: center;
}

span.tooltip-cost > span > img {
  vertical-align: -22%;
}

.tooltip-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tooltip-title {
  margin: 0px;
  padding-top: 15px;
  font-size: 15px;
}

.tooltip-tech-name {
  margin: 0px;
  padding-top: 6px;
  padding-bottom: 6px;
  letter-spacing: 0.025em;
  line-height: 1rem;
}

.tooltip-single-tech-name {
  margin: 0px;
  padding-top: 15px;
  padding-bottom: 6px;
  letter-spacing: 0.025em;
  line-height: 1rem;
}

.tooltip-arrow-left {
  height: 20px;
  padding-left: 15px;
}

.tooltip-arrow-right {
  height: 20px;
  padding-right: 15px;
}

.tooltip-cost {
  margin: 0px;
  font-size: 13px;
}

.tooltip-text {
  margin: 0px;
  font-size: 13px;
  padding-left: 17px;
  padding-right: 17px;
}

.tooltip-box {
  position: absolute;
  /* DEBUG */
  /* border: 1px solid red; */
}

.civ-tooltip {
  background-image: url('/src/public/bg_paper.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 415px;
  height: 498px;
}

.civ-tooltip-text {
  padding-top: 35px;
}

.tech-tree {
  padding-top: 22px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.civ-tooltip-text, .tech-tree {
  color: black;
  margin: 0px 35px;
  font-size: 13px;
  letter-spacing: 0.025em;
  line-height: 1.3em;
}

.civ-tooltip-text ul {
  list-style-type: disc;
  margin: 0;
  padding: 0;
  padding-left: 12px;
}

.notice-box {
  color: white;
  font-size: 11px;
  letter-spacing: 0.025em;
  background-color: rgb(31, 31, 31, 0.8);
  padding: 0px 3px;
  width: 240px;
  animation: bounce 3s cubic-bezier(0.4, 0.5, 0.6, 1) infinite;
  border: 2px solid purple;
  border-radius: 10px;
  box-shadow: 0 1px 3px purple, 0 4px 6px -4px palevioletred;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
}
@media screen and (max-width: 1350px) {
  .notice-box {
    font-size: 10px;
    width: 200px;
  }
}
@media screen and (max-width: 1050px) {
  .notice-box {
    scale: 0.90;
  }
}

/* Do i even want this? */
/* .left-tech-box, .right-tech-box, .left-civ-box, .right-civ-box {
  position: absolute;
  top: 0;
  border: 3px solid rgba(128, 0, 128, 1);
  box-shadow: 0 1px 3px purple;
  animation: pulse 3s cubic-bezier(0.4, 0.5, 0.6, 1) infinite;
  border-radius: 10px;
  pointer-events: none;
}
.left-tech-box {
  left: 0;
}
.right-tech-box {
  right: 0;
}
.left-civ-box {
  left: 495px;
}
.right-civ-box {
  right: 495px;
} */

.page-buttons {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 7%;
  right: 5%;
}

.tech-icon-wrapper {
  position: relative;
  display: inline-block;
}

.building-icon {
  height: 40px;
  box-shadow: 0px 0px 2px 1px #000;
}

.tech-icon {
  height: 30px;
  box-shadow: 0px 0px 1px 0px #000;
}

.tech-icon:hover {
  border-radius: 3px;
  box-shadow: 0px 0px 5px 3px white;
  transform: scale(1.05);
}

.tech-icon.disabled {
  filter: grayscale(100%);
}

.disabled-icon-overlay {
  position: absolute;
  top: -4px;
  left: -3px;
  width: 37px;
  pointer-events: none;
}
.disabled-icon-overlay:hover {
  border-radius: 3px;
  box-shadow: 0px 0px 5px 3px white;
}

.tech-tree-section {
  display: flex;
  align-items: center;
  gap: 8px;
}

.tech-tree-section:first-child {
  margin-top: 8px;
}

.uniques {
  display: flex;
}

.icons-grid {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 5px;
}

/* Tech tree tooltips */
.tech-tree-tooltip-unit {
  background-image: url("/src/assets/techtree/tech_icon_unit.webp");
  width: 210px;
  height: 140px;
}
.tech-tree-tooltip-tech {
  background-image: url("/src/assets/techtree/tech_icon_tech.webp");
  font-size: 11px;
  width: 225px;
  height: 150px;
  line-height: 1.2em;
}
.tech-tree-tooltip-unit, .tech-tree-tooltip-tech {
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: -10px;
  transform: translate(-40%);
  display: flex;
  flex-direction: column;
  color: white;
  pointer-events: none;
  letter-spacing: 0.025em;
  text-align: center;
}
.tech-tree-tooltip-name-unit, .tech-tree-tooltip-name-tech {
  font-size: 14px;
  width: 115px;
  margin-left: auto;
  margin-right: auto;
}
.tech-tree-tooltip-name-unit {
  margin-top: 1rem;
}
.tech-tree-tooltip-name-tech {
  margin-top: 1.2rem;
}
.tech-tree-tooltip-cost {
  font-size: 13px;
}
.tech-tree-tooltip-unit > .tech-tree-tooltip-cost > span > img {
  vertical-align: -25%;
  scale: 0.9;
}
.tech-tree-tooltip-tech > .tech-tree-tooltip-cost> span > img {
  vertical-align: -35%;
  scale: 0.8;
}
.tech-tree-tooltip-text {
  width: 155px;
  margin: auto;
  margin-top: 0px;
  font-size: 11px;
}
/* Tech tree tooltips */

/* Progression */
.tech-tree-progression-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}
.progression-title {
  font-size: 0.7rem;
}
.tech-tree-tooltip-progression {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  height: 20px;
}
.progression-icon {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid black;
}
.progression-icon.unlocked {
  background-color: white;
}
.progression-icon.locked {
  background-color: #777;
}
/* Progression */

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .8;
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-20%);
  }    
}

@media screen and (max-width: 1200px) {
  .tooltip-bg {
    scale: 0.95;
  }
  .civ-tooltip {
    scale: 0.90;
    transform: translateY(-8%);
  }
}

@media screen and (max-width: 1000px) {
 .tooltip-bg {
    scale: 0.90;
    transform: translateY(-10px);
  }
 .civ-tooltip {
    scale: 0.85;
    transform: translateY(-12%);
  }
}